# venv
.venv/
.claude

# cache
__pycache__
.DS_Store
*.py[cod]
.pytest_cache/

# slurm outputs
slurm/*.out
slurm/*.err

# notebooks
notebooks/
*.ipynb

# docs
docs/_build/
docs/api/generated/

# big files
CRLB_H_D_frame.mat
experiments/spatial_diffusion_visual/spatial_diffusion_visual.tif

# report
report/


# data
testdata*
*.h5
*.csv
*.pt
csd3_sparse_teacher/
RealData/
diff_evals/